*{
    box-sizing: border-box;
	max-width: 100vw;
	margin: 0;
	padding: 0;
  }

/* body {
    margin: 0;
} */

.h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
    font-weight: bold;
    padding-top: 10px;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1.2;
}

.main {
width: 100%;


/* background: blue; */

display: flex;
flex-direction: row;
}

.leftpanel {
width: 25vw;
min-width: 300px;
height: auto;
background: ivory;
padding: 0px 10px 0px 20px;
	h1, p, ul {
		color: rgb(179, 65, 17);
	}
}

.rightpanel {
width: 75vw;
height: 100vh;
background: rgb(179, 65, 17);

display: flex;
flex-direction: column;

overflow: scroll;
row-gap: 25px;
padding-top: 28px;
}

.top {
    display: flex;
    flex-direction: column;
    height: 85%;
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 15%;
}

.project {
width: 100%;
height: auto;
/* border: 1px solid rgb(0, 0, 0); */

display: flex;
flex-direction: row;
}

.image {
width: 55%;
height: 100%;
background: rgb(179, 65, 17);
padding-right: 15px;
}

.text {
width: 45%;
height: auto;
display: flex;
flex-direction: column;
justify-content: flex-end;
background: rgb(179, 65, 17);
    p {
        color: ivory;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.carousel {
    width: 100%;
	/* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: scroll;
}

/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    position: fixed;
    top: 275px;
    right: 15px;
    overflow-y: none;
  }

  .prev {
    position: fixed;
    top: 275px;
    overflow-x: none;
  } */

a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1.2;
    color: rgb(179, 65, 17);
}

.caption {
    font-size: 10px;
}

.dark-btn {
    /* position: fixed;
    top: 500px;
    left: 20px; */
    background-color: ivory;
    color: rgb(179, 65, 17);
    border: 1px solid rgb(179, 65, 17);
    border-radius: 1px;
}

.rightpanel.dark {
    background: rgb(0, 61, 2);
}

.text.dark {
    background: rgb(0, 61, 2);
}

.image.dark {
    background: rgb(0, 61, 2);
}

.h1.dark {
    color: rgb(0, 61, 2);
}

a.dark {
    color: rgb(0, 61, 2);
}

.switch.dark {
    color: rgb(0, 61, 2);
}

.caption.dark {
    color: rgb(0, 61, 2);
}

.dark-btn.dark {
    color: rgb(0, 61, 2);
    border: 1px solid rgb(0, 61, 2);
}