*{
    box-sizing: border-box;
	max-width: 100vw;
	margin: 0;
	padding: 0;
  }

/* body {
    margin: 0;
} */

.h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
    font-weight: bold;
    padding-top: 10px;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1.2;
}

.main {
width: 100%;


/* background: blue; */

display: flex;
flex-direction: row;
}

.leftpanel {
width: 25vw;
min-width: 300px;
height: auto;
background: ivory;
padding: 0px 10px 0px 20px;
	h1, p, ul {
		color: rgb(179, 65, 17);
	}
}

.rightpanel {
width: 75vw;
height: 100vh;
background: rgb(179, 65, 17);

display: flex;
flex-direction: column;

overflow: scroll;
row-gap: 20px;
padding-top: 85px;
}

.project {
width: 100%;
height: auto;
/* border: 1px solid rgb(0, 0, 0); */

display: flex;
flex-direction: row;
}

.image {
width: 55%;
height: 100%;
background: rgb(179, 65, 17);
padding-right: 15px;
}

.text {
width: 45%;
height: auto;
display: flex;
flex-direction: column;
justify-content: flex-end;
background: rgb(179, 65, 17);
    p {
        color: ivory;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.carousel {
    width: 100%;
	/* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: scroll;
}